body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 0;
  background-color: black;
}

.answer-question {
  font-size: 4em;
  text-align: center;
  align-self: center;
  padding: 20px;
}

.answer-text {
  font-size: 8em;
  font-weight: bold;
  text-align: center;
  align-self: center;
  padding: 20px;
}

.answer-song {
  font-size: 2em;
  text-align: center;
  align-self: center;
  padding: 20px;
}

.answer {
  grid-row: 3 / 5;
  grid-column: 1 / 3;

  display: inline-grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 1fr;
}

.question-text {
  font-size: 4em;
  font-weight: bold;
  text-align: center;
  align-self: center;
  grid-column: 2;
  padding: 20px;
  white-space: pre-line;
}

.question-img {
  grid-column: 1;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.questionFull {
  grid-row: 3 / 5;
  grid-column: 1 / 3;

  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.questionImage {
  grid-row: 3 / 5;
  grid-column: 1 / 3;

  display: inline-grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.roundTitle {
  grid-row: 3 / 5;
  grid-column: 1 / 3;

  display: inline-grid;
  grid-template-rows: 2fr 1fr;
}

.roundTitleText {
  grid-row: 1;
  align-self: center;

  font-size: 8em;
  font-weight: bold;
  text-align: center;
}

.roundTitleAnswer {
  grid-row: 2;
  align-self: center;

  font-size: 5em;
  font-weight: bold;
  text-align: center;
}

.round {
  background-color: #e6eedd;
  width: 100vw;
  max-width: 100%;
  height: 99.5vh;
  display: grid;
  grid-template-columns: 1fr 200px;
  grid-template-rows: 70px 20px 40px 1fr 20px 50px;
}

.titleText {
  grid-row: 3 / 5;
  grid-column: 1 / 3;
  align-self: center;

  font-size: 8em;
  font-weight: bold;
  text-align: center;
}

.title {
  background-color: #e6eedd;
  width: 100vw;
  max-width: 100%;
  height: 99.5vh;
  display: grid;
  grid-template-columns: 1fr 200px;
  grid-template-rows: 70px 20px 40px 1fr 20px 50px;
}

.quiz {
  width: 100vw;
  max-width: 100%;
  height: 99.5vh;
}

.logo {
  grid-column: 2;
  grid-row: 1/4;

  background-image: url('10jaar.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; 
}

.timer {
  grid-column: 2;
  grid-row: 6;
  text-align: right;
  padding-right: 20px;
}

header {
  grid-column: 1 / 3;
  grid-row: 1;
  background-color: #84bf42;
  padding-left: 20px;
}

footer {
  grid-column: 1 / 3;
  grid-row: 6;
  background-color: #84bf42;
  padding-left: 20px;
}

.lds-spinner {
  color: #84bf42;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #000;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}