body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 0;
  background-color: black;
}

.answer-question {
  font-size: 4em;
  text-align: center;
  align-self: center;
  padding: 20px;
}

.answer-text {
  font-size: 8em;
  font-weight: bold;
  text-align: center;
  align-self: center;
  padding: 20px;
}

.answer-song {
  font-size: 2em;
  text-align: center;
  align-self: center;
  padding: 20px;
}

.answer {
  grid-row: 3 / 5;
  grid-column: 1 / 3;

  display: inline-grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 1fr;
}

.question-text {
  font-size: 4em;
  font-weight: bold;
  text-align: center;
  align-self: center;
  grid-column: 2;
  padding: 20px;
  white-space: pre-line;
}

.question-img {
  grid-column: 1;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.question {
  grid-row: 3 / 5;
  grid-column: 1 / 3;

  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.roundTitle {
  grid-row: 3 / 5;
  grid-column: 1 / 3;

  display: inline-grid;
  grid-template-rows: 2fr 1fr;
}

.roundTitleText {
  grid-row: 1;
  align-self: center;

  font-size: 8em;
  font-weight: bold;
  text-align: center;
}

.roundTitleAnswer {
  grid-row: 2;
  align-self: center;

  font-size: 5em;
  font-weight: bold;
  text-align: center;
}

.round {
  background-color: #e6eedd;
  width: 100vw;
  max-width: 100%;
  height: 99.5vh;
  display: grid;
  grid-template-columns: 1fr 200px;
  grid-template-rows: 70px 20px 40px 1fr 20px 50px;
}

.titleText {
  grid-row: 3 / 5;
  grid-column: 1 / 3;
  align-self: center;

  font-size: 8em;
  font-weight: bold;
  text-align: center;
}

.title {
  background-color: #e6eedd;
  width: 100vw;
  max-width: 100%;
  height: 99.5vh;
  display: grid;
  grid-template-columns: 1fr 200px;
  grid-template-rows: 70px 20px 40px 1fr 20px 50px;
}

.quiz {
  width: 100vw;
  max-width: 100%;
  height: 99.5vh;
}

.logo {
  grid-column: 2;
  grid-row: 1/4;

  background-image: url('10jaar.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; 
}

.timer {
  grid-column: 2;
  grid-row: 6;
  text-align: right;
  padding-right: 20px;
}

header {
  grid-column: 1 / 3;
  grid-row: 1;
  background-color: #84bf42;
  padding-left: 20px;
}

footer {
  grid-column: 1 / 3;
  grid-row: 6;
  background-color: #84bf42;
  padding-left: 20px;
}
